.advantages {
  background-color: $dark-brown;
}

.advantages__title {
  @include heading;
  line-height: 41.58px;
}

.advantages__lead {
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
}

.advantages__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 26.25px;
  text-align: center;
  color: $white;
}
