/* Fonts */
$font-family-heading: "Yeseva One", "Georgia", serif;
$font-family-text: "Roboto", "Arial", sans-serif;

/* Colors */
$black: #181617;
$golden: #A07B50;
$white: #FFFFFF;
$brown: #1F1C1D;
$dark-brown: #151313;
$beige: #DDD0C3;
$light-beige: #FDF2E6;
