<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Питомник Мейн-Кунов в Новосибирске. Первый питомник с расширенным спектром услуг">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Питомник Мейн-Кунов</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="header">
    <div class="header__info">
      <p class="header__city">Новосибирск</p>
      <h1 class="header__title">Питомник Мейн-Кунов</h1>
      <p class="header__lead">Первый питомник с расширенным спектром услуг</p>
      <a href="#" class="header__link">Смотреть котиков</a>
    </div>
    <div>
      <ul class="social header__social">
        <li class="social__item">
          <span class="visually-hidden">Вконтакте</span>
          <a href="" class="social__link">
          </a>
        </li>
        <li class="social__item">
          <span class="visually-hidden">Твиттер</span>
          <a href="" class="social__link">
          </a>
        </li>
        <li class="social__item">
          <span class="visually-hidden">Фейсбук</span>
          <a href="" clas="social__link">
          </a>
        </li>
      </ul>
    </div>
  </header>

  <main>
    <section class="pets">
      <h2 class="pets__title">Питомцы</h2>
      <p class="pets__lead">Все представители нашего питомника имеют ветеринарный паспорт с отметками о прививках и документ с родословной</p>
      <ul class="pets__list">
        <li class="pets__item--active">Коты</li>
        <li class="pets__item">Кошки</li>
        <li class="pets__item">Котята</li>
      </ul>
      <div class="slider">
        <div>
          <!-- Котик 1 -->
        </div>
        <div>
          <!-- Котик 2 -->
        </div>
        <div>
          <!-- Котик 3 -->
        </div>
      </div>
      <button>
        <span class="visually-hidden">Предыдущий слайд</span>
      </button>
      <button>
        <span class="visually-hidden">Следующий слайд</span>
      </button>
    <a href="" class="pets__link">Смотреть больше</a>
    </section>

    <section class="characteristics">
      <h2 class="characteristics__title">Особенности породы</h2>
      <p class="characteristics__lead">Мейн-Кун - это порода, которая вызывает к себе уважение. Приобретая в свой дом этого питомца, вы получите умное животное, которому нет равных</p>
      <div class="characteristics__image">
        <!-- Картиночка с котиком -->
      </div>
      <ul class="characteristics__list">
        <li class="characteristics__item">Легко уживается в семьях с детьми или другими животными</li>
        <li class="characteristics__item">Выполняет команды как дрессированная собака</li>
        <li class="characteristics__item">Вес может достигать 12 кг, а длина 1 м</li>
        <li class="characteristics__item">Внешний вид этой кошки похож на дикую рысь</li>
      </ul>
    </section>

    <section class="advantages">
      <h2 class="advantages__title">Почему именно мы?</h2>
      <p class="advantages__lead">Приобретая животное в нашем питомнике, вы получите</p>
      <ul class="advantages__list">
        <li class="advantages__item">Бесплатное ветеринарное обслуживание 5 лет</li>
        <li class="advantages__item">Консультирование по любому вопросу 24 часа в сутки</li>
        <li class="advantages__item">Индивидуальный подбор питания для вашего кота</li>
      </ul>
    </section>

    <section class="care">
      <h2 class="care__title">Об уходе за Мейн-Куном</h2>
      <ul class="care__list">
        <li class="care__item">
          <a class="care__link" href="#">
            <h3 class="care__link-title">Шерсть</h3>
            <p class="care__link-description">Мы разработали 8 правил, следуя которым, шерсть вашего кота всегда будет блестящей, мягкой и послушной</p>
          </a>
        </li>
        <li class="care__item">
          <a class="care__link" href="#">
            <h3 class="care__link-title">Уши и глаза</h3>
            <p class="care__link-description">Владельцам котов необходимо регулярно осматривать ушки и глазасвоих питомцев, ведь это может быть признаками заболевания</p>
          </a>
        </li>
        <li class="care__item">
          <a class="care__link" href="#">
            <h3 class="care__link-title">Когти</h3>
            <p class="care__link-description">Нужно ли стричь когти? Это мы и выясним, плюс ко всему расскажем как подобрать идеальную когтеточку</p>
          </a>
        </li>
        <li class="care__item">
          <a class="care__link" href="#">
            <h3 class="care__link-title">Питание</h3>
            <p class="care__link-description">В нашем питомнике существует два подхода: натуральное питание и питание промышленными кормами, но выбирать только вам</p>
          </a>
        </li>
      </ul>
    </section>

    <section class="team">
      <h2 class="team__title">Наша команда</h2>
      <p class="team__lead">Все сотрудники нашего питомника дипломированые специалисты в области фелинологии и ветеринарии</p>
      <ul>
        <li>
          <div>
            <!-- Фото Сергея Попова-->
          </div>
          <blockquote class="team__review">
            <cite class="team__review-author">Серёжа Попов</cite>
            <p class="team__review-authorJob">Основатель питомника</p>
            <p class="team__review-text">Наш питомник занимается разведением Мейн-Кунов на протяжении 15 лет. Мы в ответе за каждого приобретенного вами питомца</p>
          </blockquote>
          <ul class="team__social-list">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="visually-hidden">Фейсбук</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="visually-hidden">Твиттер</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="visually-hidden">Вконтакте</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="slider__buttons">
        <button type="button">
          <span class="visually-hidden">Предыдущий сотрудник</span>
        </button>
        <button type="button">
          <span class="visually-hidden">Следующий сотрудник</span>
        </button>
      </div>
    </section>

    <section class="questions">
      <h2 class="questions__title">Вопрос-Ответ</h2>
      <p class="questions__lead">Мы ответим на самые популярные ваши вопросы</p>
      <ul class="questions__list">
        <li class="questions__item">
          <button type="button" class="questions__button questions__button--active">С какого возраста можно забирать котенка из питомника?</button>
          <p class="questions__answer">Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, — это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
          <p class="questions__answer">Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
        </li>
        <li class="questions__item">
          <button type="button" class="questions__button">Как зарезервировать котенка?</button>
          <p class="questions__answer">Ответ на вопрос</p>
        </li>
        <li class="questions__item">
          <button type="button" class="questions__button">Можно ли купить кота, если я живу в другом городе?</button>
          <p class="questions__answer">Ответ на вопрос</p>
        </li>
        <li class="questions__item">
          <button type="button" class="questions__button">Как подготовить дом к приему нового питомца?</button>
          <p class="questions__answer">Ответ на вопрос</p>
        </li>
      </ul>
    </section>

    <section class="reviews">
      <h2 class="reviews__title">Отзывы</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <div class="reviews__photo">
            <!-- Фото автора отзыва-->
          </div>
          <blockquote class="reviews__quote">
            <cite class="reviews__author">Серёжа Попов</cite>
            <p class="reviews__texst">Я выражаю огромную благодарность вашему питомнику. Мой Феликс невероятно умен и воспитан. Огромным плюсом питомника является возможность консультироваться в любое время</p>
          </blockquote>
          <time datetime="2018-05-24">24 мая 2018</time>
          <ul class="reviews__social-list">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="visually-hidden">Твиттер</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="visually-hidden">Вконтакте</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="slider__buttons">
        <button type="button">
          <span class="visually-hidden">Предыдущий сотрудник</span>
        </button>
        <button type="button">
          <span class="visually-hidden">Следующий сотрудник</span>
        </button>
      </div>
    </section>
  </main>

  <footer class="footer">
    <a class="footer__link" aria-label="Логотип питомника мейн-кунов">
      <span class="visually-hidden">Логотип питомника мейн-кунов</span>
    </a>

    <ul class="social footer__social">
      <li class="social__item">
        <a href="#" class="social__link">
          <span class="visually-hidden">Фейсбук</span>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <span class="visually-hidden">Твиттер</span>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <span class="visually-hidden">Вконтакте</span>
        </a>
      </li>
    </ul>

    <p class="footer__address">Новосибирск, Пушкинский проспект, 19</p>
    <a class="footer__tel" href="tel:+73839006465">+7 (383) 900-64-65</a>

  </footer>
</body>

</html>
